{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
    <title> Stores </title>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
        <script src=" {% static 'js/apicall.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container">
  <h2> Welcome  </h2>
  <hr>
  <div style="padding-top:5px; padding-left:20px; padding-right:20px;">
      {% for cat in cats %}
      <form action="/webapp/products" method="post">
          {% csrf_token %}
          <h3>{{cat.text}}</h3>
          <input style="display:none;" name="cat_id" value="{{ cat.id }}">
          <input type="submit" value="Submit">
      </form>
      {% endfor %}
  </div>
  <br>
</div>
<br>
<br>
{% endblock %}

{% block script %}
{% endblock %}
</html>
