{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
    <title> Stores </title>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
        <script src=" {% static 'js/apicall.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container">
  <h2> Welcome  </h2>
  <hr>
  <div style="padding-top:5px; padding-left:20px; padding-right:20px;">
      {% for i in order_list %}
        <h5>order_id: {{i.id}}</h5>
          <h3>Status: Delivered</h3>
          <h3>Delivery address: {{ i.address_id__address }}</h3>
      {% endfor %}
  </div>
  <br>
</div>
<br>
<br>
{% endblock %}

{% block script %}
{% endblock %}
</html>
